
body {
    font-size: 16px;
}


.main-calendar {

    display: flex;
    flex-wrap: wrap;
    width: 800px;
    border: solid 1px green;
    position: relative;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 500px;
    margin-left: 500px;

    color: #616161;
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    overflow: hidden;
    box-shadow: 0px 0px 50px #888;
}
.calendar-rectangle {

}
@media (min-width: 576px) {
    .calendar-rectangle {
        width: 700px;
    }
}
@media (min-width: 768px) {
    .calendar-rectangle {
        width: 50px;
        font-size: 1em;
    }
}
@media (min-width: 992px) {
    .calendar-rectangle {
        width: 400px;
        font-size: 1em;
    }
}
@media (min-width: 1200px) {
    .calendar-rectangle {
        width: 300px;
        font-size: 1em;
    }
}
@media (min-width: 1300px) {
    .calendar-rectangle {
        width: 20px;
    }
}
.calendar-rectangle:before {
    content: "";
    display: block;
    padding-top: 10px;
}



.main-calendar .calendar-header {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 70px;
    color: #fff;
}
.main-calendar .calendar-header .title-header {
    width: 1000px;
    height: 40px;
    white-space: nowrap;
    font-size: 28px;
    background-color: #6B8E23;
}
@media (min-width: 992px) {
    .main-calendar .calendar-header .title-header {
        font-size: 1.4em;
    }
}
@media (min-width: 1200px) {
    .main-calendar .calendar-header .title-header {
        font-size: 1.2em;
    }
}
.main-calendar .calendar-header .title-header .header-text {
    flex: 5;
    display: flex;
    height: 100px;
}
.main-calendar .calendar-header .title-header .header-text .today-label {
    flex: 1;
    font-size: 0.8em;
}
.main-calendar .calendar-header .title-header .header-text .today-label:hover {
    cursor: pointer;
    color: #1e88e5;
    background-color: #fff;
}
.main-calendar .calendar-header .title-header .header-text .month-label {
    flex: 3;
}
.main-calendar .calendar-header .days-header {
    width: 800px;
    height: 30px;
    background-color: #9ACD32;
    margin: 0 0 0 0;


}
.main-calendar .calendar-header .button-container {
    width: 100%;
    height: 45%;
    background-color: #9ACD32;
}
.main-calendar .calendar-header .button-container .event-button {
    flex-grow: 1;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.main-calendar .calendar-header .button-container .event-button:hover {
    background-color: #fff;
    color: #2196f3;
}
.main-calendar .days-container {
    width: 500px;
    height: 230px;
    background: #fff;
    display: inline-block;
    text-align: center;
    margin-bottom: -20px;
}
.main-calendar .days-container .week {
    width: 500px;
    height: 35px;
}
.main-calendar .day-events {
    position: relative;
    width: 500px;
    height: 300px;
    background-color: #fff;
    font-size: 1.2em;
}
.main-calendar .day-events .event-container {
    width: 100%;
    text-align: center;
    display: flex;
}
.main-calendar .day-events .event-container:hover {
    cursor: pointer;
}
.main-calendar .day-events .event-container .animated-time {
    width: 30%;
}
.main-calendar .day-events .event-container .animated-title {
    width: 70%;
}
.main-calendar .day-events .event-container .event-attribute {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    transition: all 0.4s ease-in-out 0s;
    margin: 20px 0 0 10px;
}
.box.arrow:hover {
    background-color: white;
    cursor: pointer;
    color: #1e88e5;
    transition: all 0.2s ease-in-out 0s;
}
.day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}
.day .day-number {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 20px 0 0 20px;
    padding: 10px 0 10px 0;
}
.day:hover .day-number {
    cursor: default;
    background-color: #90caf9;

    transition: background-color 0.2s ease-in-out 0s;
}
.day.today .day-number {
    border: 3px solid #9ACD32;

}
.day.has-events .day-number {
    color: #9ACD32;
    font-weight: bold;
}
.day.different-month {
    opacity: 0.2;
}
/* time animation */
.time-appear {
    transform: translateX(-100%);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.time-appear.time-appear-active {
    transform: translateX(0);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.time-enter {
    transform: translateX(-100%);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.time-enter.time-enter-active {
    transform: translateX(0);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.time-leave {
    transform: translateX(-100%);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.time-leave.time-leave-active {
    transform: translateX(0);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
/* title animation */
.title-appear {
    transform: translateX(100%);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.title-appear.title-appear-active {
    transform: translateX(0);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.title-enter {
    transform: translateX(100%);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.title-enter.title-enter-active {
    transform: translateX(0);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.title-leave {
    transform: translateX(100%);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.title-leave.title-leave-active {
    transform: translateX(0);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}